<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zyh.drawable">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Drawable">
        <activity
            android:name=".CustomDrawableActivity"
            android:exported="false" />
        <activity
            android:name=".ClipDrawableActivity"
            android:exported="false" />
        <activity
            android:name=".ScaleDrawableActivity"
            android:exported="false" />
        <activity
            android:name=".TransitionDrawableActivity"
            android:exported="false" />
        <activity
            android:name=".LevelListDrawableActivity"
            android:exported="false" />
        <activity
            android:name=".StateListDrawableActivity"
            android:exported="false" />
        <activity
            android:name=".LayerDrawableActivity"
            android:exported="false" />
        <activity
            android:name=".ShapeDrawableActivity"
            android:exported="false" />
        <activity
            android:name=".BitmapDrawableActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>